@import url('https://fonts.google.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    outline:none;
    border: none;
    /* text-transform: capitalize; */
    transition: all .2s linear;
}
html{
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

.sidebar-container{
    background-color:darkslateblue;
    height: 140vh;
    width: 22%;
    top: 10%;
    left:0;
    right:0;
    position: fixed;
    overflow: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar-items-container{
    margin-top: 20px;
    height: 77vh;
    width: 25%;
    top: 0;
    left:0;
    right:0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.item{
    display: flex; 
    align-items: center; 
    padding: 10px;
    width: 200px;
}
.dropdown-items-container{ 
    margin-left: 40px;
    width: 200px;
    height: 100vh;
}
.dropdown-items{
    display: flex;
    align-items: center;
    padding: 8px;
    width: 200px;
}
.item-name{
    color: white;
    cursor: pointer;
}
.sidebar-icon{
    color: white;
    margin-right: 10px;
    cursor: pointer;
}
.logout-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 0px;
    margin-right: 7.5%;
    margin-bottom: 370px;
    flex-direction: "row";
}
.logout{
    color: white;
    cursor: pointer;
}
.link{
    text-decoration: none;
}

.Navbar{
    display: flex;
    background-color: white;
    padding: 10px;
}

.sidebar-toggle{
    background-color:darkslateblue;
    height: 140vh;
    width: 30%;
    top: 10%;
    left:0;
    right:0;
    position: fixed;
    overflow: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5;
}

.sidebar-img{
    width: 60%;
    height: 95%;
    border-radius: 50%;
}

@media (min-width: 600px) and (max-width: 1000px) {
    .sidebar-container{
        display: none;
    }
  }

@media (max-width: 599px) {
    .sidebar-container{
        display: none;
    }
  }

  @media (max-width: 710px) {
    .sidebar-toggle{
        background-color:#0D2481;
        height: 140vh;
        width: 40%;
        top: 10%;
        left:0;
        right:0;
        position: fixed;
        overflow: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        z-index: 5;
    }
  }

  @media (max-width: 778px) {
    .sidebar-toggle{
        width: 39%;
    }
  }

  @media (max-width: 525px) {
    .sidebar-toggle{
        width: 45%;
    }
  }
  @media (max-width: 400px) {
    .sidebar-toggle{
        width: 50%;
        padding-left: 10%;
    }
  }

  @media (max-width: 333px) {
    .sidebar-toggle{
        width: 55%;
        padding-left: 12%;
    }
  }
  @media (max-width: 290px) {
    .sidebar-toggle{
        width: 60%;
        padding-left: 14%;
    }
  }
  @media (max-width: 260px) {
    .sidebar-toggle{
        width: 65%;
        padding-left: 16%;
    }
  }
  @media (max-width: 240px) {
    .sidebar-toggle{
        width: 70%;
        padding-left: 18%;
    }
  }
  @media (max-width: 218px) {
    .sidebar-toggle{
        width: 100%;
    }
  }