@import url('https://fonts.google.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    outline:none;
    border: none;
    transition: all .2s linear;
}
html{
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

.chat-navbar-container{
    background-color: #f5f5f5;
    box-shadow: var(--box-shadow);
    height: 10%;
    width: 75%;
    top: 10%;
    left: 25%;
    position: fixed;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.user-container-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 550px;
}

.user-img-nav{
    clip-path: circle();
    width: 30%;
    height: 30%;
}
.user-role-name-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.user-name{
    color: black;
    width: 100%;
}
.user-info-container-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
}








/* .chat-navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3f51b5;
    padding: 10px;
    color: white;
  }
  
  .user-container-nav {
    display: flex;
    align-items: center;
  }
  
  .user-info-container-nav {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .user-img-nav {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user-name {
    font-size: 16px;
  }
  
  .chat-logout-btn-container {
    display: flex;
    align-items: center;
  }
  
  .messages-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .message {
    max-width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    word-wrap: break-word;
  }
  
  .message-sender {
    align-self: flex-end;
    background-color: #3f51b5;
    color: white;
    border-radius: 10px 10px 0 10px;
  }
  
  .message-receiver {
    align-self: flex-start;
    background-color: #f1f1f1;
    color: black;
    border-radius: 10px 10px 10px 0;
  }
   */